<%- include('../partials/header') %>

<section id="show-page">
  <div>Occasion: <%= event.occasion %></div>
  <div>Date: <%= event.date %></div>
  <div>Time: <%= event.time %></div>
  <div>Venue: <%= event.venue %></div>
  <div>Guest Count: <%= event.guestCount %></div>
  <div>Details: <%= event.details %></div>
  <div>RSVP: 
    <form id="rsvp-form" action="/events/<%= event._id %>/rsvp" method="POST">
      <label><input type="radio" name="rsvp" value="going" <%= event.rsvp === 'going' ? 'checked' : '' %>> Going</label>
      <label><input type="radio" name="rsvp" value="not-going" <%= event.rsvp === 'not-going' ? 'checked' : '' %>> Not Going</label>
      <label><input type="radio" name="rsvp" value="maybe" <%= event.rsvp === 'maybe' ? 'checked' : '' %>> Maybe</label>
      <input type="submit" value="Submit">
    </form>
  </div>
  
  <div>Happening Now: <%= event.happeningNow ? 'Yes' : 'No' %></div>
  <div>Contact Host: <%= event.contactHostEmail %> (Email) / <%= event.contactHostPhone %> (Phone)</div>
  
  <div>Members:</div>
  <ul>
    <% event.guests.forEach(function(guest) { %>
      <li><%= guest.name %> <small><%= guest.contactInformation %></small></li>
    <% }); %>
  </ul>
</section>

<form id="add-guest-form" action="/events/<%= event._id %>/guests" method="POST">
  <label>Name:</label>
  <input type="text" name="name">
  <label>Contact Information:</label>
  <input type="text" name="contactInformation">
  <input type="submit" value="Add Guest">
</form>

<h2>Reviews</h2>
<form id="add-review-form" method="POST" action="/events/<%= event._id %>/reviews">
  <label>Review:</label>
  <textarea name="content"></textarea>
  <label>Rating:</label>
  <select name="rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5" selected>5</option>
  </select>
  <input type="submit" value="Add Review">
</form>

<% if (event.reviews.length) { %>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Review</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <% let total = 0 %>
      <% event.reviews.forEach(function(review) { %>
        <% total += review.rating %>
        <tr>
          <td><%= review.createdAt.toLocaleDateString() %></td>
          <td><%= review.content %></td>
          <td><%= review.rating %></td>
        </tr>
      <% }); %>
      <tr>
        <td colspan="2"></td>
        <td><strong><%= (total / event.reviews.length).toFixed(1) %></strong></td>
      </tr>
    </tbody>
  </table>
<% } else { %>
  <h5>No Reviews Yet</h5>
<% } %>

<%- include('../partials/footer') %>
