<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title><%= title %></title>
</head>
<body>
  <nav>
    <a href="/events/new" <%- title === 'New Event' ? 'class="active"' : '' %>>NEW EVENT</a>
    <a href="/events" <%- title === 'My Events' ? 'class="active"' : '' %>>MY EVENTS</a>
    <a href="/subscriber/new" <%- title === 'Sign In' ? 'class="active"' : '' %>>SIGN IN</a>
    <a href="/signup" <%- title === 'Sign Up' ? 'class="active"' : '' %>>SIGN UP</a>
  </nav>
  <main>
    <h1><%= title %></h1>
    <form action="/signup" method="post">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required><br><br>
      
      <label for="phone">Phone Number:</label>
      <input type="tel" id="phone" name="phone" required><br><br>
      
      <button type="submit">Sign Up</button>
    </form>
  </main>
</body>
</html>
