<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title><%= title %></title>
</head>
<body>
    <nav>
      <img src="/stylesheets/Logo.png" alt="YANA Logo" />
      <a href="/views/home" <%= title === 'Welcome' ? 'class="active"' : '' %>>WELCOME</a>
      <a href="/events/new" <%- title === 'New Event' ? 'class="active"' : '' %>>CREATE EVENT</a>
      <a href="/events" <%- title === 'My Events' ? 'class="active"' : '' %>>MY EVENTS</a>
      <a href="/subscribers/new" <%- title === 'Sign In' ? 'class="active"' : '' %>>SIGN IN</a>
    </nav>
   
    <script>
      document.addEventListener('DOMContentLoaded', function() {
          var privacyPolicyLink = document.getElementById('privacy-policy-link');
          var privacyPolicyNote = document.getElementById('privacy-policy-note');

          privacyPolicyLink.addEventListener('click', function(event) {
              event.preventDefault();
              privacyPolicyNote.style.display = privacyPolicyNote.style.display === 'block' ? 'none' : 'block';
          });
      });
  </script>
</body>
</html>
